<section class="section">
	<div class="container">
		<div class="columns">
		
				<!-- LEFT SIDE -->
			<div class="column is-one-third">
				<div class="columns is-multiline">

						<!-- Top Card -->
					<div class="column is-full">
						<div class="card">

								<!-- Avatar -->
							<div class="card-content is-horizontal-center is-flex">
								<figure class="image is-128x128">
										
								</figure>
							</div>
							
							<div class="card-content">

									<!-- Upload Button -->
								<div class="content has-text-centered">
									<p class="title is-5">
											
									</p>
									<button class="button is-primary is-outlined is-fullwidth">Upload Avatar</button>
								</div>
								<hr class="h-10">
								
								<!-- Member -->
								<article class="media">
									<div class="media-content">Member since</div>
									<div class="media-right">
											<strong> </strong>
									</div>
								</article>
								<hr class="h-10">
								
								<!-- From -->
								<article>
									<div class="media">
										<div class="media-content">From</div>
										<div class="media-right">
											<strong> </strong> <i class="toggle far fa-edit" aria-controls="user-from"></i>
										</div>
									</div>

									<div class="content">
											
									</div>

								</article>                                
								<hr class="h-10">

								<!-- Online Status -->
								<article>
									<div class="media">
										<div class="media-content">Online Status</div>
										<div class="media-right">
											<strong> </strong> <i class="toggle far fa-edit" aria-controls="user-status"></i>
										</div>
									</div>

									<div class="content">
											
									</div>
								</article>

							</div>
						</div>
					</div>

						<!-- Bottom Card -->
					<div class="column is-full">
						<div class="card">
							<div class="card-content">

									<!-- About -->
								<article>
									<div class="media">
										<div class="media-content">
											<p>
												<strong>About Yourself</strong>
												<br>
												<%= %>
											</p>
										</div>
										<div class="media-right">
											<i class="toggle far fa-edit" aria-controls="user-about"></i>
										</div>
									</div>

									<div class="content">
											
									</div>
								</article>
								<hr class="h-10">

								<!-- Language -->
								<article>
										<div class="media">
											<div class="media-content">
												<p>
													<strong>Language</strong>
													<br>
													<%=  %>
												</p>
											</div>
											<div class="media-right">
												<i class="toggle far fa-edit" aria-controls="user-language"></i>
											</div>
										</div>

										<div class="content">
												
										</div>

								</article>
								<hr class="h-10">
								
								<!-- Linked Account -->
								<article class="media"></article>

							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- RIGHT SIDE -->
			<div class="column">
				<div class="columns is-multiline">

					<!-- Create New Gig -->
					<div class="column is-one-third has-text-centered"></div>

					<!-- Sample Gig -->
					<div class="column is-one-third has-text-centered"></div>
						
				</div>
			</div>
				
		</div>
	</div>
</section>
