$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }

  .h-#{$space} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }

  f-#{$space} {
    font-size: #{$space}px !important;
  }
}

.is-horizontal-center {
  justify-content: center;
}

.small-title {
  font-size: 10px;
}

.star-review {
  color: #ffbf00;
  font-size: 13px;
  font-weight: 600;
}

.has-shadow {
  z-index: 5 !important;
}

.dropzone {
  border: 2px dashed #0087f7 !important;
  border-radius: 5px;
  background: white;
}

.dropzone .dz-message {
  font-weight: bold;
  color: #0D1536;
}

.dropzone .dz-message .note {
  font-size: .8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}

.category {
  z-index: 10 !important;
}

.form-container {
  margin-left: 100px;
  margin-right: 100px;
}


.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}

.card-width-flex {
  flex-basis: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination-link.is-current {
  background-color: #00d1b2 !important;
}

.pagination-link.is-current {
  border-color: #00d1b2 !important;
}

.has-bg-img {
  background: url('background.jpg') center center;
  background-size: cover;
}